<footer>
    <div class="footer">
      <div class="footer__top">
        
        <div class="payment-logos">
          <a href="#" class="payment-logos__link">
            <svg width='100' height='40'>
              <use href='img/sprite/sprite.svg#visa'></use>
            </svg>
          </a>
          <a href="#" class="payment-logos__link">
            <svg width='100' height='40'>
              <use href='img/sprite/sprite.svg#master'></use>
            </svg>
          </a>
          <a href="#" class="payment-logos__link">
            <svg width='100' height='40'>
              <use href='img/sprite/sprite.svg#btc'></use>
            </svg>
          </a>
          <a href="#" class="payment-logos__link">
            <svg width='100' height='40'>
              <use href='img/sprite/sprite.svg#teth'></use>
            </svg>
          </a>
        </div>

        <div class="footer__wrapp">

          <ul class="provider-list">
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider1.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider2.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider3.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="../img/index/provider4.png" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider5.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider6.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider7.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider8.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider9.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider10.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider11.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider12.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider13.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider1.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider2.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider3.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="../img/index/provider4.png" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider5.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider6.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider7.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider8.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider9.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider10.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider11.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider12.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider13.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider1.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider2.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider3.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="../img/index/provider4.png" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider5.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider6.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider7.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider8.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider9.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider10.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider11.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider12.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider13.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider1.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider2.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider3.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="../img/index/provider4.png" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider5.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider6.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider7.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider8.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider9.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider10.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider11.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider12.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider13.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider1.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider2.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider3.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="../img/index/provider4.png" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider5.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider6.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider7.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider8.svg" alt="image">
              </a>
            </li>
            <li class="provider-list__item">
              <a href="#" class="provider-list__link">
                <img width='100' height='40' src="/img/sprite/provider9.svg" alt="image">
              </a>
            </li>
          </ul>

          <div class="footer__other">
            <svg width='200' height='80'>
              <use href='img/sprite/sprite.svg#18plus'></use>
            </svg>
          </div>

          <div class="footer__deskr">
            <p class="deskription">Tropicanza Casino</p>
            <p class="deskription">© Copyright 2023</p>
          </div>
        </div>

       

      </div>


      <div class="footer__bottom">
        <ul class="footer-nav">
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">About Us</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Privacy policy</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Responsible Gaming</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Terms & Conditions</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Betting rules</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">Contacts</a>
          </li>
          <li class="footer-nav__item">
            <a href="#" class="footer-nav__link">FAQs</a>
          </li>
        </ul>

        <div class="lang">
          <button class="lang__btn">
       
            <svg width='28' height='28'>
              <use href='img/sprite/sprite.svg#uk'></use>
            </svg>
            <div class="lang__name">EN</div>
          </button>
          
          <div class="lang-menu">
            <div class="lang-menu__item">
              <a href="#" class="lang-menu__link">
                <svg width='28' height='28'>
                  <use href='img/sprite/sprite.svg#ru'></use>
                </svg>
                <span class="lang-menu__name">RU</span>
              </a>
            </div>
            <div class="lang-menu__item">
              <a href="#" class="lang-menu__link">
                <svg width='28' height='28'>
                  <use href='img/sprite/sprite.svg#uk'></use>
                </svg>
                <span class="lang-menu__name">EN</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    
    </div>
</footer>