<header>
  <div class="container">
    <div class="header">
      
      <a href="index.html" class="header__logo">
        <img width='170' height='70' src="../img/sprite/logo.svg" alt="image">
      </a>

      <ul class="header-nav">
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">
            <img width='26' height='20' src="../img/sprite/games.svg" alt="image">
            Games
          </a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">
            <img width='26' height='20' src="../img/sprite/sport.svg" alt="image">
            Sport
          </a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">
            <img width='26' height='20' src="../img/sprite/cyber.svg" alt="image">
            CyberSport
          </a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">
            <img width='26' height='20' src="../img/sprite/promo.svg" alt="image">
            Promo
          </a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">
            <img width='26' height='20' src="../img/sprite/tour.svg" alt="image">
            Tournaments
          </a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">
            <img width='26' height='20' src="../img/sprite/lotto.svg" alt="image">
            lotteries
          </a>
        </li>
        <li class="header-nav__item">
          <a href="#" class="header-nav__link">
            
            <img width='26' height='20' src="../img/sprite/app.svg" alt="image">
            Application
          </a>
        </li>
      </ul>

      <div class="header__btns">
        <button class="main-button">Sign up</button>
        <button class="button-second">Login</button>
      </div>

      <button class="burger" data-burger>
        <span class="burger__line"></span>
      </button>
    </div>
  
    <div class="mobile-menu">
      <div class="mobile-menu__box">
        <span class="mobile-menu__title">Menu</span>
        <button class="burger" data-burger>
          <span class="burger__line"></span>
        </button>

    
        <ul class="header-nav">
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <img width='26' height='20' src="../img/sprite/games.svg" alt="image">
              Games
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <img width='26' height='20' src="../img/sprite/sport.svg" alt="image">
              Sport
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <img width='26' height='20' src="../img/sprite/cyber.svg" alt="image">
              CyberSport
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <img width='26' height='20' src="../img/sprite/promo.svg" alt="image">
              Promo
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <img width='26' height='20' src="../img/sprite/tour.svg" alt="image">
              Tournaments
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              <img width='26' height='20' src="../img/sprite/lotto.svg" alt="image">
              lotteries
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              
              <img width='26' height='20' src="../img/sprite/app.svg" alt="image">
              Application
            </a>
          </li>
          <li class="header-nav__item">
            <a href="#" class="header-nav__link">
              
              <img width='26' height='20' src="../img/sprite/app.svg" alt="image">
              Support
            </a>
          </li>
        </ul>
    
      </div>
    </div>
  </div>
 
  
</header>





