.games-filter{

grid-area: filter;

    &__field{
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: 2px solid var(--br-a);
        background: rgba(var(--bg-c),1.0);
        padding: 14px 18px 12px;
        height: 44px;
    }

    &__input{
        display: block;
        width: 100%;
        order: 2;
        font-size: 14px;
        font-weight: normal;
        color: rgba(var(--cl-a),1.0);
        transition: 0.2s ease border-color;
        line-height: 44px;
        padding-left: 8px;

        &::placeholder{
            opacity: 0.6;
            font-weight: normal;
        }
    }

    &__search{
        fill:  rgba(var(--cl-a),1.0);
        svg{
            width: 25px;
            height: auto;
        }
    }
}