.game-card{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
    background: rgba(var(--bg-c),1.0);
    border-radius: 6px;
    padding-bottom: 44px;

    &__wrapp{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        grid-gap: 6px;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        transition: 0.2s all ease;
        background: rgba(var(--bg-d),0.85) !important;
        opacity: 0;
        transition: 0.2s all ease;
        padding-top: 20px;
    }

    &__box{
        position: relative;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
        }
    }

    &__title{
        overflow: hidden;
        text-overflow: ellipsis;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 1;
        width: 100%;
        height: 44px;
        padding: 0 10px;
        font-size: 16px;
        line-height: 16.1px;
        font-weight: 700;
        justify-content: center;
        display: flex;
        align-items: center;
        color: rgba(var(--cl-a),1.0);
        text-align: center !important;
        transform: scale(1);
        transition: opacity 0.2s ease, transform 0s 0s linear, bottom 0.2s ease-out;
    }

    &:hover{

        .game-card{
            &__title{
                top: 4px;
                font-size: 14px;
                background: none;
            }

            &__wrapp{
                visibility: visible;
                opacity: 1;
            }
        }

        .provider-icon{
            visibility: visible;
            opacity: 1;
        
        }
    }

    .main-button, .button-demo{
        @include tablet{
            min-width: 70px;
            height: 35px; 
        }
    }
}