.main-button {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  color: rgba(var(--cl-c),1.0);
  background: linear-gradient(180deg, #fffd00 0%, #ff8500 100%);
  border-radius: 16px;
    min-width: 100px;
    height: 43px;
    font-size: 15px;
    padding: 0 15px;
    transition: 0.2s all ease;

    &:hover{
      filter: brightness(1) contrast(1.4);
    }
}

.button-demo{
  display: flex;
    justify-content: center;
    align-items: center;    
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: #091638;
    background: linear-gradient(180deg, #24C6EA 0%, #074CB5 100%);
    cursor: pointer;
    color: rgba(var(--cl-a),1.0);
    min-width: 100px;
    height: 43px;
    border-radius: 16px;
    font-size: 15px;
    padding: 0 15px;
    transition: 0.2s all ease;

    &:hover{
      filter: brightness(1) contrast(1.4);
    }
}

.button-second{
 
  background: linear-gradient(180deg, #24C6EA 0%, #074CB5 100%);
  display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 90px;
    height: 44px;
    min-height: 44px;
    margin: 0 2px;
    padding: 0 30px;
    line-height: 1;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    user-select: none;
    color:  rgba(var(--cl-a),1.0);
    transition: 0.2s all ease;
    border: none;
    border-radius: 10px;
}
