.select {
  position: relative;
  user-select: none;

  &::before {
    bottom: -1.1875rem;
    height: 1.5625rem;
    z-index: -1;
    width: calc(100% + 1.25rem);
    position: absolute;
    content: "";
    background: rgba(var(--bg-a), 1);
    border: 1px solid var(--border-d);
    border-bottom: none;
    left: -0.625rem;
    transition: opacity 0.4s;
    opacity: 0;
  }

  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: .875rem;
  line-height: 100%;
  color: rgba(var(--cl-c), 1);

  &__header {
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    height: 1.875rem;
    
    &:has([data-id="1"]) {
      .select__current {
        svg {
          display: none;
        }
      }
    }

    &:before{
      content: '';
      position: absolute;
      z-index: 10;
      height: 14px;
      width: 100%;
      background-color: rgba(var(--bg-a),1.0);
      left: 0;
      bottom: -2px;
      opacity: 0;
      transition: all .4s;

      @include tablet{
        bottom: -6px;
      }
    }
  }

  &__icon {
    transform: scaleY(-1);
    transition: all 0.4s;
  }

  &__current {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(var(--cl-b), 1);
    border-bottom: solid 1px var(--border-d);
    flex-flow: 1;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    grid-gap: 1.25rem;
    justify-content: space-between;

    svg {
      fill: transparent;
    }
  }

  &__body {
    width: 100%;
    margin-top: .5625rem;
    position: absolute;
    left: 0;
    max-height: 200px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.4s;

    background: rgba(var(--bg-a), 1);
    border-top: none;
    border-bottom: none;
    box-shadow: 0px 2px 11px 0px rgba(6, 32, 44, 0.09);
  }


  &__item {
    display: flex;

    align-items: center;
    grid-gap: .3125rem;
    width: 100%;
    cursor: pointer;
    transition: all 0.4s;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: calc(100% + 1.0625rem);
      left: -1.25rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1px;
      z-index: 20;
      border-left: solid 1px transparent;
      transition: all 0.4s;
    }
  }
}

.select.active .select__body {
  height: auto;
}

.select.active {
  z-index: 3;

  .select__body {
    visibility: visible;
    opacity: 1;
  }

  position: relative;

  &::before {
    opacity: 1;
  }

  .select__current::before {
    rotate: -180deg;
  }
}

// .select__item:hover {
//   &::before {
//     border-left: solid 1px var(--border-m);
//   }
// }

.nav-select.select.active .select__icon {
  transform: scaleY(1);
}

.nav-select {
  @include for-small-tablet {
    display: none;
  }

  &.active{
    .select__header::before{
      opacity: 1;
    }
    .select__current{
      font-weight: 450;
    }
  }
  .select {

    
    &__header {
      align-items: center;
      display: flex;
      padding: .625rem;
      height: 2.125rem;
      border-radius: 2px;
      background: rgba(var(--bg-a), 1);
      box-shadow: 0px 2px 11px 0px rgba(6, 32, 44, 0.09);

      &:before{
        content: '';
        position: absolute;
        z-index: 10;
        height: 10px;
        width: 100%;
        background-color: rgba(var(--bg-a),1.0);
        left: 0;
        bottom: -2px;
        opacity: 0;
        transition: all .4s;
      }
    }

    &__current {
      font-family: var(--font-family2);
      font-size: clamp(12px, 1.172vw, .875rem);
      line-height: normal;
      color: rgba(var(--cl-b), 1);
    }

    &__body{
      margin-top: 0;
      top: 33px;
      z-index: 2;
    }

    &__wrapp {
      grid-gap: 0;
          max-height: 15rem;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      padding: 0 .625rem .9375rem;
      align-items: flex-start;
      .cabinet-nav__link{
        padding: .5625rem 0;
        transition: all .4s;
        &::before{
          display: none;
        }

        &:hover{
          font-weight: 450;
        }
      }
    }

    
  }
}

.orders-select {
  display: none;

  @include small-tablet {
    display: block;
  }
}

.modal-select {

  &.active{
    .select__header{
  

      &::before{
        opacity: 1;
      }

        box-shadow: 0px 2px 11px 0px rgba(6, 32, 44, 0.09);
    }
    .select__current{
      color: rgba(var(--cl-b), 1);
      font-weight: 450;
    }
  }

  .select {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0.875rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.6);

      padding: .625rem;
      height: 2.125rem;
      border-radius: 2px 2px 0 0;
      background: rgba(var(--bg-a), 1);
    

      &:before{
        content: '';
        position: absolute;
        z-index: 10;
        height: 14px;
        width: 100%;
        background-color: rgba(var(--bg-a),1.0);
        left: 0;
        bottom: -6px;
        opacity: 0;
        transition: all .4s;

        @include tablet{
          bottom: -6px;
        }
      }
    }

    &__current {
      color: rgba(var(--cl-b), 0.6);
      font-family: var(--font-family2);
      font-size: clamp(16px, 1.1749vw, 1.125rem);
      font-style: normal;
      font-weight: 450;
      line-height: normal;
    }

    &__body{
      margin-top: 0;
      top: 40px;
      z-index: 2;
      border-radius:0 0 2px 2px;
    }

    &__icon {
      transform: scaleY(1);
    }

    &__wrapp {
      grid-gap: 0;
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      padding: 0 .625rem .5rem;
      align-items: flex-start;
    }

    &__btn {
      color: rgba(var(--cl-b), 0.6);
      font-family: var(--font-family2);
      font-size: clamp(16px, 1.1749vw, 1.125rem);
      font-style: normal;
      font-weight: 450;
      line-height: normal;
      transition: all .4s;
      padding: .5rem 0;

      &:hover{
        color: rgba(var(--cl-b), 1);
      }
    }
  }

  &.active {
    .select__icon {
      transform: scaleY(-1);
    }
  }
}
